* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.description-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.wrap-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-img {
  margin-bottom: 30px;
}

.container {
  max-width: 1170px;
  margin: auto;
  margin-top: 130px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'Angelface';
  src: url("../fonts/Angelface.eot");
  src: url("../fonts/Angelface.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Angelface.woff") format("woff");
  src: url("../fonts/Angelface.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-size: 90px;
  color: #a84a3e;
  font-family: 'Pinyon Script';
  margin-bottom: 25px;
  font-weight: 400;
}

.subtitle {
  font-size: 14px;
  color: #818181;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 24px;
}

.button {
  cursor: pointer;
  padding: 20px 50px;
  border: 3px solid transparent;
  border-radius: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  background: none;
  text-transform: uppercase;
}

.recording__input {
  border: 1px solid rgba(255, 255, 255, 0.54);
  border-radius: 15px;
  color: #ffffff;
}

.slv__slide {
  height: 100vh;
}

.menu {
  max-width: 830px;
  margin: auto;
}

.menu__wrap {
  position: relative;
}

.nav {
  position: absolute;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.nav__link {
  padding: 14px 38px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Roboto';
  color: #ffffff;
  border: 2px solid transparent;
}

.nav__link:hover {
  border-color: #ffffff;
  border-radius: 5px;
}

.layer-slide {
  position: absolute;
  z-index: 99;
  top: 300px;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
}

.logo__title {
  display: block;
  text-align: center;
  font-family: 'Angelface';
  font-size: 200px;
  font-weight: 400;
  line-height: 0.44;
  color: #ffffff;
}

.logo__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 50px 75px 50px;
}

.logo__subtitle:before {
  display: block;
  content: '';
  width: 70px;
  height: 1px;
  background-color: #ffffff;
}

.logo__subtitle:after {
  display: block;
  content: '';
  width: 70px;
  height: 1px;
  background-color: #ffffff;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
}

.description-wrap__subtitle {
  margin-bottom: 100px;
}

.servises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 140px;
}

.galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galery__img-1 {
  margin-right: 6px;
  margin-bottom: 8px;
}

.galery__img-2 {
  margin-bottom: 8px;
}

.galery__block-left {
  margin-right: 15px;
}

@media (max-width: 1299px) {
  .galery {
    display: block;
  }
}

.food__subtitle {
  text-transform: uppercase;
}

.food__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 720px;
  margin: 90px auto;
}

.food__separating {
  margin: 45px 0;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100px;
}

.price__img {
  margin-right: 30px;
}

.price__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__title {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.price__subtitle {
  display: block;
  margin-bottom: 30px;
}

.price__old {
  font-size: 30px;
  color: #dadada;
  font-family: 'Lobster';
  text-decoration: line-through;
  font-weight: 400;
  margin-right: 20px;
}

.price__new {
  font-size: 30px;
  font-family: 'Lobster';
  color: #a84a3e;
  font-weight: 400;
  cursor: pointer;
}

.price__button {
  color: #222222;
  border-color: #262626;
  margin-bottom: 140px;
}

.price__button:hover {
  border-color: #a84a3e;
  color: #a84a3e;
}

.form {
  background-image: url(../img/form/form-bg.png);
  height: 660px;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.reservation__title {
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 0;
  font-weight: 400;
}

.reservation__subtitle {
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 70px;
}

.reservation__button {
  color: #ffffff;
  border-color: #a84a3e;
  margin-bottom: 70px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.contacts__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-family: 'Roboto';
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts__button {
  padding: 35px;
  border: 2px solid transparent;
  border-radius: 65px;
  background-color: #a84a3e;
  margin-right: 50px;
  margin-left: 50px;
  cursor: pointer;
}

.contacts__button:hover {
  border-color: #a84a3e;
  background: none;
}

.recording {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.recording__input {
  min-width: 370px;
  height: 55px;
  padding-left: 25px;
  background: none;
}

.recording__input-box {
  margin-right: 30px;
}

.recording__input-box:last-child {
  margin-right: 0;
}

.ivents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.ivents__title {
  margin-bottom: 30px;
}

.ivents__subtitle {
  text-transform: uppercase;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 135px;
  margin-bottom: 200px;
}

.cards__ivent {
  margin-right: 30px;
}

.cards__ivent:last-child {
  margin-right: 0;
}

.cards__text {
  margin: 67px auto;
  max-width: 315px;
}

.cards__title-before {
  font-size: 12px;
  font-family: 'Roboto';
  color: #818181;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
}

.cards__title {
  font-size: 20px;
  font-family: 'Roboto';
  text-transform: uppercase;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 45px;
}

.footer {
  height: 250px;
  padding-top: 80px;
}

.footer__menu {
  max-width: 830px;
  margin: auto;
  margin-bottom: 45px;
}

.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__li {
  list-style: none;
}

.footer__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Roboto';
  color: #000000;
}

.footer__link:hover {
  color: #a84a3e;
}

.footer__social {
  margin-bottom: 80px;
}

.map {
  position: relative;
}

.map__img {
  position: absolute;
  z-index: 99;
  top: -63px;
  right: 0;
  left: 0;
  margin: auto;
}

.map__contacts {
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 21px rgba(0, 0, 0, 0.13);
  top: 140px;
  right: 290px;
  width: 370px;
  height: 210px;
  text-align: center;
  padding: 65px 50px 60px 50px;
}

.map__title {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22px;
  margin-bottom: 35px;
}

.map__adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Roboto';
  color: #818181;
}

.map__phone a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Roboto';
  color: #818181;
  list-style: none;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */