* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.description-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.wrap-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title-img {
  margin-bottom: 30px;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding-top: 130px;
}

.container1 {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 40px 20px 0px 20px;
  }
}

@font-face {
  font-family: 'Angelface';
  src: url("../fonts/Angelface.eot");
  src: url("../fonts/Angelface.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/Angelface.woff") format("woff");
  src: url("../fonts/Angelface.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-input-placeholder {
  color: #ffffff;
  font-family: roboto;
  font-size: 14px;
}

:-moz-placeholder {
  color: #ffffff;
  font-family: roboto;
  font-size: 14px;
}

::-moz-placeholder {
  color: #ffffff;
  font-family: roboto;
  font-size: 14px;
}

:-ms-input-placeholder {
  color: #ffffff;
  font-family: roboto;
  font-size: 14px;
}

.title {
  font-size: 90px;
  color: #a84a3e;
  font-family: 'Pinyon Script';
  margin-bottom: 25px;
  font-weight: 400;
}

.subtitle {
  font-size: 14px;
  color: #818181;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 24px;
}

.button {
  cursor: pointer;
  padding: 20px 50px;
  border: 3px solid transparent;
  border-radius: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  background: none;
  text-transform: uppercase;
}

.recording__input {
  border: 1px solid rgba(255, 255, 255, 0.54);
  border-radius: 15px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .title {
    font-size: 75px;
  }
  .subtitle {
    font-size: 12px;
  }
}

.slv__slide {
  height: 100vh;
  width: 100%;
}

.slv__slide-img {
  height: 100vh;
  width: 100%;
}

.header {
  position: relative;
}

.anchor {
  border: 3px solid #ffffff;
  border-radius: 10px;
  background: none;
  position: absolute;
  width: 72px;
  height: 72px;
  z-index: 111;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 65px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.anchor:hover {
  background: #ac5348;
  border-color: #a84a3e;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.anchor__arrow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 112;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: pulsing 2.5s infinite;
          animation: pulsing 2.5s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: translate(10px, -10px) rotate(45deg);
            transform: translate(10px, -10px) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-5px, 5px) rotate(45deg);
            transform: translate(-5px, 5px) rotate(45deg);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: translate(10px, -10px) rotate(45deg);
            transform: translate(10px, -10px) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(-5px, 5px) rotate(45deg);
            transform: translate(-5px, 5px) rotate(45deg);
  }
}

.menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 830px;
}

.menu__li {
  list-style: none;
}

.menu__li:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.menu__link {
  padding: 14px 38px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Roboto';
  color: #ffffff;
  border: 2px solid transparent;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

.menu__link:hover {
  border-color: #ffffff;
  border-radius: 5px;
}

.menu__button {
  top: 5%;
  left: 5%;
  border: none;
  background: none;
  padding: 0;
  position: absolute;
  z-index: 1111;
}

.menu__btn {
  display: none;
  border-radius: 50%;
  border: none;
  background: #ac5348;
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.menu__btn span {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background: #fff;
}

.menu__btn span:before {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background: #fff;
}

.menu__btn span:after {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background: #fff;
}

.menu__btn span:before {
  content: '';
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__btn span:after {
  content: '';
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__btn span:before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.menu__btn span:after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.menu__btn-active span:before {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.menu__btn-active span {
  height: 0;
}

.menu__btn-active span:after {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.layer-slide {
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  height: 240px;
  width: 100%;
  margin: auto;
}

.logo__title {
  display: block;
  text-align: center;
  font-family: 'Angelface';
  font-size: 200px;
  font-weight: 400;
  line-height: 0.44;
  color: #ffffff;
}

.logo__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 50px 75px 50px;
}

.logo__subtitle:before {
  display: block;
  content: '';
  width: 70px;
  height: 1px;
  background-color: #ffffff;
  margin-right: 50px;
}

.logo__subtitle:after {
  display: block;
  content: '';
  width: 70px;
  height: 1px;
  background-color: #ffffff;
  margin-left: 50px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
}

.social__icons:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social__menu {
  display: none;
  margin: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__wrap-menu {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
}

.social__icons:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 1024px) {
  .logo__title {
    font-size: 150px;
  }
  .logo__subtitle {
    font-size: 11px;
    padding-bottom: 35px;
  }
  .anchor {
    width: 73px;
    height: 73px;
  }
  .anchor__img {
    width: 73px;
    height: 73px;
    bottom: 30px;
  }
}

@media (max-width: 929px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 171px;
    margin: auto 0;
    height: 265px;
    z-index: 999;
  }
  .menu__li:hover {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
}

@media (max-width: 768px) {
  .logo__title {
    font-size: 110px;
  }
  .logo__subtitle {
    font-size: 10px;
    padding-bottom: 35px;
  }
  .logo__subtitle:before {
    margin-right: 30px;
  }
  .logo__subtitle:after {
    margin-left: 30px;
  }
  .social__img {
    width: 25px;
    height: 25px;
  }
  .anchor {
    width: 65px;
    height: 65px;
  }
  .anchor__img {
    width: 65px;
    height: 65px;
    bottom: 25px;
  }
}

@media (max-width: 620px) {
  .social__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .social__wrap-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__btn {
    display: block;
  }
  .menu {
    left: 0;
    top: 0;
    margin: 0;
    padding-top: 20%;
    max-width: 50%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(172, 83, 72, 0.95);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(0) translateY(20%);
            transform: scale(0) translateY(20%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
  }
  .menu__active {
    -webkit-transform: scale(1) translateY(0%);
            transform: scale(1) translateY(0%);
    opacity: 1;
  }
}

.description-wrap__subtitle {
  margin-bottom: 100px;
}

.servises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 140px;
}

.servises__type {
  width: 163px;
  height: 163px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-radius: 8px;
  position: relative;
}

.servises__img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.servises__box-text {
  width: 163px;
  height: 163px;
  position: relative;
  border: 2px solid #000000;
  border-radius: 8px;
}

.servises__box-text:hover {
  background-color: rgba(172, 83, 72, 0.95);
  border-color: #A84A3E;
}

.servises__box-text:hover .servises__text {
  display: block;
}

.servises__text {
  width: 132px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  display: none;
}

.galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.galery__img {
  width: 100%;
  height: auto;
}

.galery__img-1 {
  width: 100%;
  height: auto;
}

.galery__img-2 {
  width: 100%;
  height: auto;
}

.galery__img-size1 {
  max-width: 485px;
}

.galery__img-size2 {
  max-width: 189px;
  margin-right: 10px;
}

.galery__img-size3 {
  max-width: 470px;
}

.galery__img-size4 {
  max-width: 669px;
}

.galery__block-left {
  margin-right: 15px;
}

.galery__block-rtop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

@media (max-width: 991px) {
  .galery__block-rtop {
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  .servises__type {
    width: 120px;
    height: 120px;
  }
  .servises__box-text {
    width: 120px;
    height: 120px;
  }
  .servises__img {
    width: 50%;
  }
}

@media (max-width: 707px) {
  .galery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galery__img-size1 {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 6px;
  }
  .galery__img-size3 {
    max-width: 100%;
  }
  .galery__img-size4 {
    max-width: 100%;
  }
  .galery__block-right {
    width: 100%;
  }
  .galery__block-rtop {
    width: 100%;
  }
}

@media (max-width: 570px) {
  .servises {
    margin-bottom: 100px;
  }
  .servises__type {
    width: 90px;
    height: 90px;
  }
  .servises__box-text {
    width: 90px;
    height: 90px;
  }
  .servises__img {
    width: 50%;
  }
  .description-wrap__subtitle {
    margin-bottom: 60px;
  }
}

.food__subtitle {
  text-transform: uppercase;
}

.food__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 720px;
  margin: 90px auto;
}

.food__separating {
  margin: 45px 0;
  overflow: hidden;
}

.food__separating-adaptive1199 {
  overflow: hidden;
  margin: 45px 0;
  display: none;
}

.food__icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: relative;
  border: 2px solid #000000;
  border-radius: 50%;
}

.food__icon:hover {
  background-color: #ac5348;
  border-color: #A84A3E;
}

.food__icon:hover .food__black {
  display: none;
}

.food__icon:hover .food__white {
  display: block;
}

.food__black, .food__white {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.food__white {
  display: none;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100px;
}

.price__img {
  margin-right: 30px;
  border-radius: 50%;
}

.price__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__title {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  text-transform: uppercase;
  display: block;
  margin-bottom: 20px;
}

.price__subtitle {
  display: block;
  margin-bottom: 30px;
}

.price__old {
  font-size: 30px;
  color: #dadada;
  font-family: 'Lobster';
  text-decoration: line-through;
  font-weight: 400;
  margin-right: 20px;
}

.price__new {
  font-size: 30px;
  font-family: 'Lobster';
  color: #a84a3e;
  font-weight: 400;
  cursor: pointer;
}

.price__button {
  color: #222222;
  border-color: #262626;
  margin-bottom: 140px;
}

.price__button:hover {
  border-color: #a84a3e;
  color: #a84a3e;
}

@media (max-width: 1199px) {
  .price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price__card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .food__separating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .food__separating-adaptive1199 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .food__icon {
    width: 100px;
    height: 100px;
  }
  .food__type {
    max-width: 550px;
  }
}

@media (max-width: 499px) {
  .price__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .price__img {
    margin-right: 0;
    margin-bottom: 35px;
  }
  .food__icon {
    width: 80px;
    height: 80px;
  }
  .food__type {
    max-width: 450px;
    margin-top: 40px;
  }
}

@media (max-width: 320px) {
  .food__icon {
    width: 65px;
    height: 65px;
  }
  .food__black, .food__white {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.form {
  position: relative;
}

.form__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.reservation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.reservation__title {
  color: #ffffff;
  margin-top: 25px;
  margin-bottom: 0;
  font-weight: 400;
}

.reservation__subtitle {
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 70px;
}

.reservation__button {
  color: #ffffff;
  border-color: #a84a3e;
  margin-bottom: 70px;
}

.reservation__button:hover {
  border-color: #fff;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.contacts__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-family: 'Roboto';
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts__button {
  width: 104px;
  height: 104px;
  border: 2px solid transparent;
  border-radius: 50%;
  background-color: #a84a3e;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 50px;
}

.contacts__button:hover {
  border-color: #a84a3e;
  background: none;
}

.recording {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.recording__input {
  width: 370px;
  height: 55px;
  padding-left: 25px;
  background: none;
}

.recording__input-box {
  margin-right: 30px;
}

.recording__input-box:last-child {
  margin-right: 0;
}

@media (max-width: 1199px) {
  .recording__input {
    width: 270px;
  }
}

@media (max-width: 950px) {
  .recording {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recording__input {
    margin-bottom: 30px;
  }
  .recording__input-box {
    margin-right: 0;
  }
}

@media (max-width: 599px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contacts__button {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
  }
  .contacts__button {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
  }
}

.ivents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.ivents__title {
  margin-bottom: 30px;
}

.ivents__subtitle {
  text-transform: uppercase;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 135px;
  margin-bottom: 200px;
}

.cards__ivent {
  margin-right: 30px;
}

.cards__ivent:last-child {
  margin-right: 0;
}

.cards__text {
  display: flex;
  margin: 67px auto;
  max-width: 315px;
}

.cards__title-before {
  font-size: 12px;
  font-family: 'Roboto';
  color: #818181;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 24px;
}

.cards__title {
  font-size: 20px;
  font-family: 'Roboto';
  text-transform: uppercase;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 45px;
}

.cards__box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 369px;
}

.cards__img {
  width: 100%;
  height: auto;
}

.cards__img-adaptive1250 {
  display: none;
}

@media (max-width: 1250px) {
  .cards {
    display: block;
  }
  .cards__img-adaptive1250 {
    display: block;
    margin: auto;
  }
  .cards__img-default {
    display: none;
  }
  .cards__ivent {
    margin-right: 0;
  }
}

footer {
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer {
  max-width: 830px;
  margin: auto;
  margin-bottom: 45px;
}

.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__li {
  list-style: none;
}

.footer__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Roboto';
  color: #000000;
}

.footer__link:hover {
  color: #a84a3e;
}

.social__wrap-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 130px;
}

@media (max-width: 899px) {
  .footer {
    margin: auto 30px;
    margin-bottom: 35px;
  }
}

@media (max-width: 620px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    margin-bottom: 0;
  }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__li {
    margin-bottom: 15px;
  }
  .footer__li:last-child {
    margin-bottom: 0;
  }
  .social__wrap-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .social__icons-f:hover {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.map {
  position: relative;
}

.map__img {
  position: absolute;
  z-index: 99;
  top: -63px;
  right: 0;
  left: 0;
  margin: auto;
}

.map__contacts {
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 21px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 21px rgba(0, 0, 0, 0.13);
  top: 25%;
  right: 15%;
  width: 370px;
  height: 210px;
  text-align: center;
  padding: 65px 50px 60px 50px;
}

.map__title {
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  text-transform: uppercase;
  line-height: 22px;
  margin-bottom: 35px;
}

.map__adress {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Roboto';
  color: #818181;
}

.map__phone a {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Roboto';
  color: #818181;
  list-style: none;
  text-decoration: none;
}

@media (max-width: 899px) {
  .map__contacts {
    display: none;
  }
}

@media (max-width: 499px) {
  .map__img {
    width: 100px;
    height: 100px;
    top: -50px;
  }
}
/*# sourceMappingURL=style.css.map */