.food
  &__subtitle
    text-transform: uppercase
  &__type
    display: flex
    justify-content: space-between
    max-width: 720px
    margin: 90px auto
  &__separating
    margin: 45px 0
    overflow: hidden
  &__separating-adaptive1199
    overflow: hidden
    margin: 45px 0
    display: none
  &__icon
    width: 130px
    height: 130px
    border-radius: 50%
    position: relative
    border: 2px solid #000000
    border-radius: 50%
    &:hover
      background-color: rgb(172,83,72)
      border-color: #A84A3E
      .food__black
        display: none
      .food__white
        display: block
  &__black, &__white
    text-align: center
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
  &__white
    display: none
.price
  display: flex
  justify-content: space-around
  margin-bottom: 100px
  &__img
    margin-right: 30px
    border-radius: 50%
  &__card
    display: flex
    align-items: center
  &__title
    font-size: 20px
    font-weight: 500
    +roboto
    text-transform: uppercase
    display: block
    margin-bottom: 20px
  &__subtitle
    display: block
    margin-bottom: 30px
  &__old
    font-size: 30px
    color: #dadada
    +lobster
    text-decoration: line-through
    font-weight: 400
    margin-right: 20px
  &__new
    font-size: 30px
    +lobster
    color: #a84a3e
    font-weight: 400
    cursor: pointer
  &__button
    color: #222222
    border-color: #262626
    margin-bottom: 140px
    &:hover
      border-color: #a84a3e
      color: #a84a3e
@media (max-width: 1199px)
  .price
    flex-direction: column
    &__card
      justify-content: center
  .food__separating
    display: flex
    justify-content: center
    &-adaptive1199
      display: flex
      justify-content: center
@media (max-width: 768px)
  .food
    &__icon
      width: 100px
      height: 100px
    &__type
      max-width: 550px
@media (max-width: 499px)
  .price
    &__card
      flex-direction: column
      text-align: center
    &__img
      margin-right: 0
      margin-bottom: 35px
  .food
    &__icon
      width: 80px
      height: 80px
    &__type
      flex-wrap: wrap
      max-width: 450px
      margin-top: 40px
@media (max-width: 379px)
  .food
    &__type
      min-height: 200px
      justify-content: space-around
      max-width: 239px
      margin: 70px auto