.reservation
  display: flex
  flex-direction: column
  justify-content: center
  &__title
    color: #ffffff
    margin-top: 85px
  &__subtitle
    text-transform: uppercase
    color: #ffffff
    margin-top: 30px
    margin-bottom: 70px
.contacts
  display: flex
  margin-bottom: 60px
  &__number
    align-items: center 